{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}About{% endblock %}

{% block page_content %}
<html lang="en">
<head>
	<!-- Theme Made By www.w3schools.com - No Copyright -->
	<title>Security System</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	.jumbotron {
			background-color: #118995;
			color: #fff;
			padding: 100px 25px;
	}
	.container-fluid {
			padding: 60px 90px;
	}
	.bg-grey {
			background-color: #7f8da3;
	}
	.logo-small {
			color: #f4511e;
			font-size: 50px;
	}
	.size_logo {
			font-size: 150px;
	}
	</style>
</head>
<body>

<div class="jumbotron text-center">
	<h1>HIPS</h1>
	<p>Home Information Protection System</p>
	<br>
	<p>HIPS is being developed by Sean Clayton, William Maroney, Archie Sawmadal, and Robert Van Zandt for CSC 535 Software Engineering. 
	</p>
	<br>
</div>

</body>
</html>
{% endblock %}